* {
  font-family: sans-serif;
}
/* 
Styling the colored css box with a height and width */
#colorSelector {
  width: 120px;
  height: 100px;
}

/* .colorBox {
  background-color: rgb(240, 244, 254);
  width: 250px;
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
} */

/* Make the paragraphs horizontally */
p {
  display: inline-block;
}
